.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
  color: white;
}

.App-intro {
  font-size: large;
}
.stock-form{
  width:100%;
}
.container{
  padding-top: 25px;
}
p {
  font-size: 20px;
}
.profit{
  color: green;
}
.loss{
  color: red;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 768px){
  .modal-dialog {
    width: 900px !important;
    margin: 30px auto;
  }
}
